.loginPage {
  background-color: #e0eae9;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center; /* Centering the content horizontally */
  min-height: 100vh; /* Full height to fill the screen */
}

.header {
  background-color: #fffcfc;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  color: #000;
  font: 400 36px Inter, sans-serif;
  margin: 5px;
}

.navContainer {
  display: flex;
  gap: 15px;
}

.navLink {
  padding: 10px 20px;
  border-radius: 5px;
}

.homeLink {
  border-radius: 6px;
  background-color: #cde2d6;
  font-size: 20px;
  font-family: Inter, sans-serif;
  color: #000;
  font-weight: 500;
  width: 130px;
  border: 1px solid #000;
  height: 30px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.registerLink {
  border-radius: 6px;
  background-color: #0c2548;
  font-size: 20px;
  text-align: center;
  font-family: Inter, sans-serif;
  color: #ffffff;
  font-weight: 500;
  width: 90px;
  border: 1px solid #000;
  height: 30px;
  padding: 10px;
  text-decoration: none;
}
.registerLink:hover, .homeLink:hover{
  text-decoration: underline;
}

.loginForm {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  max-width: 500px; /* Limits the form width */
  width: 80%; /* Makes it responsive */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 30px;
}

.formTitle {
  color: #000;
  font-size: 22px;
  margin-bottom: 60px;
}

.inputField {
  background-color: #f5f5f5;
  font-size: 18px;
  padding: 15px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-right: 50px; /* Space for the show button */
}

.inputUnderline {
  height: 2px;
  background-color: #615959;
  width: 90%;
}

.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.passwordLabel {
  font-size: 18px;
}


.showPassword {
  font-size: 16px;
  font-weight: 700;
  color: #040100;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px; /* Position to the right inside the input */
  top: 50%;
  transform: translateY(-50%);
}

.loginButton {
  background-color: #f3b8ac;
  color: #020000;
  padding: 10px 30px;
  font-size: 18px;
  margin-top: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover{
  background-color: #dc9c94;  
}
